body {
    margin: 0;
    display: flex;
}

.wrapper {
    background: orange;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre_boutons {
    width: 600px;
    height: 600px;
    background: crimson;
    display: flex;
    flex-direction: column;
}

.sous_div_titre_boutons {
    width: 100%;
    height: 25%;
    background: darkgrey;

}

h1 {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Agency FB";
    font-size: 8em;
    background: antiquewhite;
}

select {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-family: "Agency FB";
    font-size: 2em;
}

button {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Agency FB";
    font-size: 3em;
}